/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.fa-envelope {
    color: #F47C7E;
}
.fa-code {
    color: #6FACEA;
}
.fa-handshake {
    color: #A89DC7;
}

 .icon-wrapper {
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #d5d5d5;
    padding: 1.3rem;
 }
 i {
    padding: 2rem;
 }
.circle-image {
    border-radius: 50%;
    width: 16rem;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
* {
  font-family: "Open Sans", Helvetica, sans-serif;
}
.fa {
  color: #222222 !important;
}
#request {
  width: 50%;
}
div#demo {
  padding-bottom: 0;
}
div#contact {
  padding-bottom: 1rem;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #F67B7C;
  box-shadow: 0 1px 0 0 #F67B7C;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #F67B7C;
  box-shadow: 0 1px 0 0 #F67B7C;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #F67B7C;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #F67B7C;
  box-shadow: 0 1px 0 0 #F67B7C;
}
.container {
  width: 75%;
}
.page-footer {
  background-color: #364b61 !important;
  text-align: center;
}
.footer_text {
  text-align: left !important;
}
#mail_i {
  text-align: center;
  font-size: 5.5rem;
  padding-top: 5%;
  margin-bottom: -20px;
  margin-top: 3rem;
}
#main_cta {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
#subtext {
  text-align: center;
  color: #ffffff;
  padding: 0 25%;
  font-size: 1.1rem;
  letter-spacing: -0.025em;
}
.btn, .btn:hover {
  background-color: #374B60;
}
body, .navbar-fixed {
background: #4b6cb7;  /* fallback for old browsers */
background: url("img/overlay.png"), -webkit-url("img/overlay.png"), linear-gradient(90deg, #718DCA 15%, #4b6cb7 85%);
background: url("img/overlay.png"), linear-gradient(90deg, #718DCA 15%, #4b6cb7 85%);
background-blend-mode: color-burn;
height: 100%;
} 
#contact_heading {
  text-align: center;
  color: #ffffff;
  padding: 0 25%;
  padding-bottom: 20px;
}
.change-color {
  background: #4b6cb7;
}
.btn-large {
  background-color: #364b61 !important;
}
.default_color {
  background-color: #F67B7C;
}
.card .card-image img {
  height: 270px;
}
.card .card-image .card-title {
  color: #000000;
  font-weight: bold;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #F67B7C;
}
.default_color_text {
  color: #F67B7C !important
}
.icon-block {
  padding: 0 15px;
}
#intro {
  background: #364b61;
  color: #ffffff;
  padding-top: 7%;
  padding-bottom: 7%;
}
#contact {
  background: #364b61;
  color: #ffffff;
  padding-top: 4%;
  padding-bottom: 4%;
}
#submit_button {
  background-color: #4b6cb7 !important;
}
.btn-large i {
  font-size: 1rem;
}
.social-icons {
  margin: .5rem;
}
.social-icons i {
  font-size: 1.5rem;
  padding: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  opacity: .8;
}
.social-icons i:hover {
  opacity: 1;
  border: 1px solid #222;
}
#work {
  padding-top: 4rem;
}
#index-banner {
  min-height: 400px;
  max-height: 900px;
  position: relative;
}
.text_h {
  font-size: 3.3em;
  font-weight: 100;
  color: white;
  letter-spacing: -0.025em;
}
.port-logo {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  position: relative !important;
  font-family: 'Pacifico', cursive;
}
nav#navbar-primary {
  overflow: hidden;
}
.body-heading {
    margin: 30px;
    float: none !important;
}
.body-heading h3 {
      font-family: 'Pacifico', cursive;
      font-size: 2rem;
      opacity: .8;
}
.sub-heading h5 {
      font-family: 'Pacifico', cursive;
      font-size: 1.5rem;
      opacity: .8;
      margin-top: 4rem;
}
.sub-heading {
  float: none !important;
}
.body-heading h3:after {
    background-image: linear-gradient(90deg, #a8bceb, #a89cc8, #4b6cb7);
    display: block;
    content: '';
    width: 10rem;
    height: 2px;
    margin: 20px auto;
    border-radius: 2px;
}
.body-paragraph p {
    font-family: "Open Sans", Helvetica, sans-serif;
    opacity: .8;
}
.heading1 {
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 1.3rem;
}
.text_h2 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
}
.span_h2 {
  font-weight: 300;
  color: #F67B7C;
}
.text_b {
  color: #F67B7C;
  text-align: center;
  font-size: 2.56rem !important;
}
.in {
  font-weight: 400 !important;
  font-style: normal !important;
}
.promo-caption {
    opacity: .8;
    padding-top: 20px;
}
.promo i {
  font-size: 3.6rem;
  display: block;
  height: 90px;
  width: 90px;
  padding: 20% 0;
}
.card-content a {
  color: #4b6cb7;
}
.card-content a:hover {
  color: #222222;
}
.text_pink {
  color: #EF9A9A;
}
.navbar-primary {
  transition: background 0.5s ease;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #000001 !important;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-bottom: 1px solid #ffffff;
}
.container {
  width: 80%;
}
.icon {
  width: 10%;
}
#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}
footer i {
  padding: 5px;
}
footer {
  color: #fff;
}
i {
  padding: 1rem;
}
nav {
  background: inherit;
  box-shadow: none;
}
.icon-git {
  color: #ED513B;
}
.icon-heroku {
  color: #7F5BBF;
}
.icon-mysql {
  color: #0D698D;
}
.icon-bootstrap {
  color: #5B3C7D;
}
.icon-python {
  color: #FECE4E;
}
.icon-ruby {
  color: #D14337;
}
.icon-javascript-alt {
  color: #EFDA5B;
}
.dev-icons {
  font-size: 2.5rem;
}
.port-container {
  position: relative;
  width: 36%;
  display: inline-block;
}

.port-image {
  display: block;
  width: 100%;
}

.port_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
}
.icon-margin {
  margin-bottom: 3rem;
}
.port1 {
   background-color: #008CBA;
}
.port2 {
  background-color: #F27D80;
}
.port3 {
  background-color: #A89EC6;
}
.port4 {
  background-color: #5877BC;
}

.port-container:hover .port_overlay {
  opacity: .9;
}
.port_desc {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  margin: 5% 0 0 0;
}
.port-sub {
  color: #fff;
  font-size: .8rem;
  text-align: center;
  margin: .5rem 1rem 0 1rem;
}
.port-cta {
  color: #fff;
  font-size: .7rem;
  text-align: center;
  margin: 1rem 1rem 0 1rem;
}
.port_desc a {
  color: #fff;
}
@media only screen and (max-width: 650px) {
  .port-container {
    width: 100% !important;
  }
  .port-image {
    width: 100% !important;
    height: auto !important;
    min-height: 220px;
  }
  .hidden {
  display: none !important;
}
.text_h {
  padding: 4% 0;
  font-size: 2.5rem;
  font-weight: 100;
  color: white;
}
span.dev-icons {
  font-size: 2.4rem;
}
.row .col.s8 {
  width: 100%;
}
.row .col.offset-s2 {
  margin-left: 0 !important;
}
#request {
  width: 75%;
}
.row .col.s4 {
  width: 100%;
}
.icon {
  width: 30%;
}
.card .card-image img {
  height: 220px;
}
.container {
  width: 100%;
}
}
/* IPAD */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .row .col.s4 {
    width: 100%;
  }
  .port-container {
    width: 100% !important;
  }
  .port-image {
    width: 100% !important;
    height: auto !important;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.row .col.offset-s1 {
  margin-left: 0 !important;
}
.row .col.s10 {
  width: 100% !important;
}
  .port-container {
    width: 100% !important;
  }
  .port-image {
    width: 100% !important;
    height: auto !important;
  }
}  